<div class="my-card">
  <mat-card class="employee-Card">
    <mat-card-content>
        <mat-toolbar color="primary">
          <mat-menu #appMenu="matMenu">
            <button mat-menu-item>Menu 1</button>
            <button mat-menu-item>Menu 2</button>
          </mat-menu>
          <button mat-flat-button [matMenuTriggerFor]="appMenu">Menu</button>
          <span>Employee</span>
          <span class="spacer"></span>
          <mat-menu #profileMenu="matMenu">
            <button mat-menu-item>Profile</button>
              <button mat-menu-item>sign Out</button>
                </mat-menu>
            <mat-icon class="profile-icon" aria-hidden="false" [matMenuTriggerFor]="profileMenu" >account_circle</mat-icon>
          </mat-toolbar>
          <mat-grid-list class="grid" cols="3" gutterSize="10px">
            <mat-grid-tile class="grid-content"> 
              <mat-card class="requestCard">
                <mat-card-header>
                  <div class="iconPosition">
                    <mat-icon class="requestEmployees" aria-hidden="false">contact_phone</mat-icon> 
                  </div>
                </mat-card-header>
                <mat-card-content>
                  <span>Add <br>Availability</span>
                </mat-card-content>
              </mat-card>  
            </mat-grid-tile>
          <mat-grid-tile class="grid-content">
              <mat-card class="requestCard">
                  <mat-card-header>
                    <div class="iconPosition"> 
                      <mat-icon class="viewEmployees" aria-hidden="false">contact_phone</mat-icon> 
                    </div>
                  </mat-card-header>
                  <mat-card-content>
                    <span>Add <br>Timesheet</span>
                  </mat-card-content>
                </mat-card> 
              </mat-grid-tile>
              <mat-grid-tile class="grid-content"> 
                <mat-card class="requestCard">
                    <mat-card-header>
                      <div class="iconPosition">
                        <mat-icon class="viewHours" aria-hidden="false">contact_phone</mat-icon> 
                      </div>
                    </mat-card-header>
                  <mat-card-content>
                      <span>View <br> Clients</span>
                    </mat-card-content>
                  </mat-card> 
             </mat-grid-tile>
            <mat-grid-tile class="grid-content">
                <mat-card class="requestCard">
                    <mat-card-header>
                      <div class="iconPosition">
                        <mat-icon class="employeesWorking" aria-hidden="false">contact_phone</mat-icon> 
                      </div>
                    </mat-card-header>
                  <mat-card-content>
                      <span>
                        View <br>
                        Working Days
                      </span>
                    </mat-card-content>
                  </mat-card>  
                 </mat-grid-tile>
            <mat-grid-tile class="grid-content"> 
                <mat-card class="requestCard">
                    <mat-card-header>
                      <div class="iconPosition">
                        <mat-icon class="employeesOnStandby" aria-hidden="false">contact_phone</mat-icon> 
                      </div>
                    </mat-card-header>
                  <mat-card-content>
                      <span>View <br>
                         Standby Days</span>
                    </mat-card-content>
                  </mat-card> 
                </mat-grid-tile>
            <mat-grid-tile class="grid-content"> tile 2</mat-grid-tile>
            <mat-grid-tile class="grid-content"> tile 3</mat-grid-tile>
            <mat-grid-tile class="grid-content"> tile 4</mat-grid-tile>
          </mat-grid-list>
    </mat-card-content>
  </mat-card>
</div>