<div class="container-fluid">
    <h1>Client page</h1>
    <div class="row">
        <div class="col-12 col-md-auto">
          <div class="card" style="width: 12rem;">
            <img src="./img/imgThumbnail.png" class="card-img-top" alt="">
            <div class="card-body">
              <h5 class="card-title">Option 1</h5>
              <p class="card-text">Some text</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
      <div class="col-12 col-md-auto">
              <div class="card" style="width: 12rem;">
                <img src="assets/imgThumbnail.png" class="card-img-top" alt="">
                <div class="card-body">
                  <h5 class="card-title">Option 2</h5>
                  <p class="card-text">Some text</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>
        <div class="col-12 col-md-auto">
                <div class="card" style="width: 12rem;">
                  <img src="./img/imgThumbnail.png" class="card-img-top" alt="">
                  <div class="card-body">
                    <h5 class="card-title">Option 3</h5>
                    <p class="card-text">Some text</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>
          </div>
        <div class="col-12 col-md-auto">
                <div class="card" style="width: 12rem;">
                  <img src="./img/imgThumbnail.png" width="200px" class="card-img-top" alt="">
                  <div class="card-body">
                    <h5 class="card-title">Option 4</h5>
                    <p class="card-text">Some text</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>
        </div>
      </div>
    
  </div>