
        <mat-card class="my-card">
          <mat-card-content>
              <!-- style="text-align:center" -->
              <div class="heading" >
                  <img width="80" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
                  <h3>
                    {{ title }}
                  </h3>
                </div>    
               <form class="my-form">
                  <mat-form-field class="full-width" appearance="outline">
                     <mat-label>Email</mat-label>
                     <input  matInput  placeholder="Email" name="email">
                    </mat-form-field>
                    <mat-form-field class="full-width" appearance="outline">
                      <mat-label>Password</mat-label>
                      <input  matInput  placeholder="Password" name="password">
                    </mat-form-field>
                  </form>
                </mat-card-content>
              <mat-card-actions class="mat-action">
                  <button mat-raised-button (click)="login()" color="primary">LOGIN</button>
                    <div class="forgotPass">
                      <mat-label><a href="/">Forgot Password ? </a></mat-label>
                         </div>
                            <div class="register">
                         <mat-label><a href="./register/register.component.html">Create New Account</a></mat-label>
                      </div>
                  </mat-card-actions>
           </mat-card>
 
<!-- <app-client></app-client>  -->
<!-- <app-consultant></app-consultant> -->
<app-employee></app-employee>
 <app-register></app-register> 
<router-outlet></router-outlet>


