.inputbox{
    text-align: left;
}
.loginOptions{
    padding-top: 20px;
}

.container-fluid{
    display: block;
    margin: 10%;
    margin-left: 30%;
    margin-right: 30%;
    padding: 3%;
    border-radius: 10px;
    border-style: solid;
    background-color: #ffffff;
    border-block-end-color: #ffffff;
    border-color: #f7f7f7; 
}
 


