.spacer {
    flex: 1 1 auto;
  }
button{
    margin-right: 3rem;
}
.my-form{
    text-align: center;
    min-width: 150px;
    max-width: auto;

  }
   
  .full-width {
    width: 100%;
  }
.my-card{
    margin: auto;
    margin-top: 13%;
    max-width: 500px;
}
.heading{
    text-align: center;
}
.forgotPass{
    margin-top: 12px;
    
}
a:link{   
    color:#0000ff;
    text-decoration: none;
}
a:hover{
    text-decoration: underline; 
}
.register{
    text-decoration: none;
    margin-top: 12px;
}
.mat-action{
    padding-left: 10px;
}