
<div class="my-card">
  <mat-card class="registerCard">
    <mat-card-content>
      <div class="heading">
        <h1>sign up</h1>
        <h3>Register with TechPhex</h3>
      </div>
        <form class="my-form">
            <mat-form-field class="full-width" appearance="outline">
               <mat-label>First Name</mat-label>
                  <input  matInput type="text"  placeholder="First Name" name="firstName">
              </mat-form-field>
                 <mat-form-field class="full-width" appearance="outline">
                     <mat-label>Last Name </mat-label>
                <input  matInput type="text" placeholder="Last Name" name="lastName">
              </mat-form-field>
                 <mat-form-field class="full-width" appearance="outline">
                     <mat-label>Username </mat-label>
                <input  matInput type="text" placeholder="username" name="username">
              </mat-form-field>
  
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Email Address</mat-label>
                    <input  matInput type="email" placeholder="Email Address" name="email">
                       </mat-form-field>
                       <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Phone Number</mat-label>
                                <input  matInput type="number" placeholder="Phone Number" name="number">
                         </mat-form-field>
                    <mat-form-field class="full-width" appearance="outline">
                       <mat-label>Password</mat-label>
                    <input  matInput type="password" placeholder="Password" name="password">
                 </mat-form-field>
             <mat-form-field class="full-width" appearance="outline">
                 <mat-label>Confirm Password</mat-label>
                    <input  matInput type="password" placeholder="Confirm Password" name="confirmPassword">
                 </mat-form-field>
            </form>
          </mat-card-content>
        <mat-card-actions class="mat-action">
            <button mat-raised-button (click)="login()" color="primary">Register</button>
              <div class="backToLogin">
                <mat-label><a routerLink="">Back to Sign In </a></mat-label>
            </div>
        </mat-card-actions>
  </mat-card>
</div>